<div>
    <form (ngSubmit)="add()">
        <div class="form-group">
          <label for="title">What to note</label>
          <input type="text" [(ngModel)]="title" class="form-control" name="title" id="title" aria-describedby="emailHelp">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
          <label for="about">The note about is</label>
          <input type="text" [(ngModel)]="about" class="form-control" name="about" id="about">
        </div>
        <button type="submit" class="btn btn-sm btn-primary">Add</button>
      </form>
</div>